
<h3>Students signed up for <%= @yoga_class.name %>:</h3>

    <% @yoga_class.students.each do |student| %>
    <p><%= link_to student.name, yoga_class_student_path(@yoga_class, student) %><br>
<% end %>
<br></br>

<%= link_to "Back to Class Details", yoga_class_path(@yoga_class) %><br>
<%= link_to "Back to Class Index", yoga_classes_path %>